logs/queries
node_modules
dist
workspaces/pps-analytics/_generated
**/LCD/*
!**/LCD/.gitkeep
**/LDS/*
!**/LDS/.gitkeep
**/LND/*
!**/LND/.gitkeep
**/TUP/*
!**/TUP/.gitkeep
**/degrees/*.docx
/brand
*.pdf

.astro
